# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment-specific files
.env



# Ignore editor-specific files
.vscode/

# Ignore logs
logs/

# Ignore dependencies lock file
package-lock.json

# Ignore IDE and editor files
.idea/
*.iml
*.ipr
*.iws
*.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
